# Diretórios e arquivos gerados pelo RStudio
# Arquivos de configuração do projeto do RStudio
.Rproj.user/

# Histórico de comandos do R
.Rhistory

# Objetos salvos da sessão
.RData

# Ignora todos os arquivos HTML gerados na pasta 02_rmrkdwn
/02_rmrkdwn/*.html

# Ignora arquivos de rotas no export
/03_export/rotas.gpkg
